.container {
    float: none;
    margin-top: 30px
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*height: 100%;*/
}
